.NotFound {
    flex-direction: column;
    display: flex;
    align-items: center;
    // min-height: calc(100vh - 200px);
    min-height: calc(90vh - 128px - 62px);
    margin: auto;
    justify-content: center;
}